.form-login {
    background-color: #F3D33B;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 450px;
    margin: 20% auto;
    border-radius: 8%;
}

.form-login input {
    width: 60%;
    border-radius: 15px;
    margin-top: 3%;
}

.form-login button {
    width: 35%;
    border-radius: 20px;
}

.titile-login {
    position: relative;
    height: 20%;
    width: 100%;
}

.signUp {
    position: absolute;
    right: 5%;
    top: 25%;
}

.form-login-others {
    width: 30%;
}